.feedback {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;

  border-bottom: 1px solid #ececec;
}

.feedback__title {
  font-size: 18px;
  margin-bottom: 38px;
}

.feedback__description {
  font-weight: 400;
}
