.form {
  background-color: #ffffff;
  padding: 0 10px 11px 10px;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 35px;
    text-align: left;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin: 0 auto 52px;
    padding: 6px 30px 15px 30px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    margin: -10px auto 55px;
    padding: 0 10px 15px 10px;
    line-height: 22px;
  }
}

.label {
  font-weight: 400;
  margin-right: 10px;
}

.input-block + .input-block {
  margin-top: 18px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}
