.hotel {
  min-height: 287px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.hotel__title {
  font-size: 21;
  font-weight: 700;
  margin-bottom: 30px;
}

.hotel__description {
  font-size: 14;
  font-weight: 400;
  margin-bottom: 27px;
}

.hotel__find-button {
  width: 100%;
  height: 58px;
  border: none;
  box-sizing: border-box;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}
