.page-footer {
  width: 320px;
  height: 233px;
  padding-top: 30px;
  text-align: center;

  background-color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 151px;
}

.social-list__link {
  padding-top: 13px;
  text-align: center;
  box-sizing: border-box;

  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer__author {
  margin-top: 40px;
}

.footer__author-title {
  padding-bottom: 5px;
}

.footer__author-link {
  color: #000000;
}
