.page-main__logo-block {
  min-height: 161px;
  padding-top: 55px;
  box-sizing: border-box;

  text-align: center;
  background-image:
    url("../../img/icons/bg-intro-triangle-desktop.svg"),
    url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, bottom;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-height: 290px;
    padding: 95px 0;
    background-image:
      url("../../img/icons/bg-intro-triangle-desktop.svg"),
      url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, bottom;
  }

  @media (min-width: @desktop-width) {
    min-height: 300px;
    padding: 102px 0;
    background-image:
      url("../../img/icons/bg-intro-triangle-desktop.svg"),
      url("../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, bottom;
  }
}

.page-main__logo-block img {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}
