.page-main__logo-block {
  min-height: 150px;
  padding-top: 50px;
  box-sizing: border-box;

  text-align: center;
  background-image: url("../../img/back-mobile.jpg");
  background-position: center bottom;
}
