.page-footer {
  width: 100%;
  height: 233px;
  padding-top: 30px;
  text-align: center;

  background-color: #ffffff;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    max-height: 120px;
    padding: 30px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    max-height: 120px;
    padding: 30px;
    box-sizing: border-box;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 151px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-width: 150px;
  }

  @media (min-width: @desktop-width) {
    min-width: 150px;
  }
}

.social-list__link {
  padding-top: 13px;
  text-align: center;
  box-sizing: border-box;

  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer__author {
  margin-top: 40px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.footer__svg {
  margin-top: 10px;
}

.footer__author-title {
  padding-bottom: 5px;
}

.footer__author-link {
  color: #000000;
}
