.main-nav {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 768px;
    height: 56px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: auto;
  }
}

.page-header {
  height: 276px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    position: relative;

    height: 56px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    height: 56px;
    background-color: #ffffff;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 22px;
  display: none;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
}

.main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav__toggle::after {
  transform: rotate(45deg);
}


.main-nav__toggle:hover::before,
.main-nav__toggle:focus::before,
.main-nav__toggle:hover::after,
.main-nav__toggle:focus::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.main-nav__toggle:active::before,
.main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.site-list {
  // max-width: 220px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: 153px 155px 156px 153px 153px;
    // justify-content: space-between;
    min-width: 752px;
    min-height: 56px;
    background-color: #ffffff;
    margin-top: -2px;
  }

  @media (min-width: @desktop-width) {
    font-size: 13px;
    display: grid;
    grid-template-columns: 239px 239px 244px 239px 239px;
    min-width: 757px;
    min-height: 56px;
    background-color: #ffffff;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    text-align: center;
  }
}

.site-list__item:nth-child(3) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.site-list__item:nth-child(4) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    min-width: 145px;
  }
}

.site-list__link {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding: 18px 0;

  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;

  border-top: 2px solid #9ac2db;
  border-bottom: 2px solid #678fa8;

  background-color: #81b3d2;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 142px;
    height: 56px;
    font-size: 14px;
    font-weight: bold;
    border: none;

    background-color: #ffffff;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
    height: 56px;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 0;
    border: none;

    background-color: #ffffff;
    color: #000000;
  }
}

.site-list__item:last-child .site-list__link {
  box-shadow: inset 0 -5px 5px 0 rgba(50, 50, 50, 0.2);

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    box-shadow: none;
  }
}

.site-list__link:hover,
.site-list__link:focus {
  @media (max-width: @mobile-width-only) {
    background-color: #669ec0;
    border-top: 2px solid #669ec0;
    border-bottom: 2px solid #669ec0;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    color: #81b3d2;
  }

  @media (min-width: @desktop-width) {
    color: #81b3d2;
  }
}

.site-list__link:active {
  @media (max-width: @mobile-width-only) {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
    border-top: 2px solid #5496bd;
    border-bottom: 2px solid #5496bd;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @desktop-width) {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__item--active .site-list__link {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    cursor: pointer;
    color: #766357;
  }

  @media (min-width: @desktop-width) {
    cursor: pointer;
    color: #766357;
  }
}

.site-list__item--active .site-list__link:hover,
.site-list__item--active .site-list__link:focus {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    color: #604e43;
  }

  @media (min-width: @desktop-width) {
    color: #604e43;
  }
}

.site-list__item--active .site-list__link:active {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    color: rgba(118, 99, 87, 0.3);
  }

  @media (min-width: @desktop-width) {
    color: rgba(118, 99, 87, 0.3);
  }
}

.page-header__logo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  text-align: center;
  padding: 4px 0 0;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 102px;
    height: 84px;
    background-color: transparent;

    position: absolute;
    top: -3px;
    left: 43.3%;
  }

  @media (min-width: @desktop-width) {
    width: 189px;
    height: 96px;
    background-color: transparent;

    position: absolute;
    top: -3px;
    left: 42.1%;
  }
}

.page-header__toggle {
  position: absolute;
  bottom: 53px;
  right: 20px;
  width: 23px;
  height: 22px;
  display: none;
  background-color: #81b3d2;
  border: 0;
  cursor: pointer;
}

.page-header__toggle::before,
.page-header__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 5px;
  background-color: #ffffff;
  border: 0;
}

.page-header__toggle::before {
  top: 4px;
}

.page-header__toggle::after {
  top: 13px;
}

.page-header__toggle:hover {
  background-color: rgba(129, 179, 210, 0.6);
}

.page-header__toggle:active {
  background-color: rgba(129, 179, 210, 0.3);
  outline: none;
}
