.presentation {
  min-height: 427px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.presentation__title {
  font-size: 18px;
}

.presentation__description {
  font-size: 14px;
  font-weight: 400;
}

.presentation__img {
  margin-left: -20px;
}

.presentation__button-block {
  display: flex;
  justify-content: space-between;
  padding: 23px;
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  background-color: #f2f2f2;
}

.presentation__replay-button {
  width: 20px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}

.presentation__button-block--wrapper {
  display: flex;
  justify-content: space-between;
  width: 83px;
}

.presentation__subtitles-button {
  width: 30px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}

.presentation__fullscreen-button {
  width: 20px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}
