.presentation {
  min-height: 427px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.presentation__title {
  font-size: 18px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.presentation__description {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 320px;
  margin: 0 auto 30px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 425px;
    margin: 0 auto 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 425px;
    margin: 0 auto 30px;
  }
}

.presentation__button-block {
  display: flex;
  justify-content: space-between;
  padding: 23px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 66px;
  background-color: #f2f2f2;

  @media (max-width: 816px) {
    max-width: 320px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 648px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
    margin: auto;
  }
}

.presentation__replay-button {
  width: 20px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}

.presentation__block {
  position: absolute;
}

.presentation__button-block--wrapper {
  display: flex;
  justify-content: space-between;
  width: 83px;
}

.presentation__subtitles-button {
  width: 30px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}

.presentation__fullscreen-button {
  width: 20px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }
}
