.presentation {
  position: relative;
  min-height: 505px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px 0 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    position: relative;
    min-height: 790px;
    margin: 0 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 827px;
    margin: 0 0 10px 0;
  }
}

.presentation__title {
  margin: 12px auto 30px auto;
  font-size: 18px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-top: 46px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 42px;
    font-size: 30px;
  }
}

.presentation__description {
  font-size: 14px;
  font-weight: 400;
  width: 277px;
  margin: 14px auto 34px auto;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 14px;
    width: 450px;
    margin: 0 auto 80px;
    padding: 4px 0 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    width: 450px;
    margin: 0 auto 78px;
    padding: 4px 0 0;
  }
}

.presentation__img {
  width: 320px;
  height: 201px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 800px;
    height: 500px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
    margin: auto;
  }
}

.presentation__button-block {
  position: absolute;
  top: 78%;
  left: 50%;
  width: 280px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  margin-left: -140px;
  padding: 23px;
  box-sizing: border-box;

  background-color: #f2f2f2;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    position: absolute;
    top: 83.4%;
    left: 50%;
    width: 648px;
    height: 93px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: -324px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 79%;
    left: 50%;
    width: 800px;
    height: 93px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: -400px;
  }
}

.presentation__replay-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 29%;
  left: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    position: absolute;
    top: 37%;
    left: 30px;
    background-color: transparent;

    & path {
      fill: #ffffff;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 36%;
    left: 28px;
    background-color: transparent;

    & path {
      fill: #ffffff;
    }
  }
}

.presentation__replay-button:hover,
.presentation__subtitles-button:hover {
  @media (max-width: @mobile-width-only) {
    & path {
      fill: #333333;
    }
  }
}

.presentation__replay-button:active,
.presentation__replay-button:focus,
.presentation__subtitles-button:active,
.presentation__replay-button:focus {
  outline: none;
  @media (max-width: @mobile-width-only) {
    & path {
      fill: rgba(51, 51, 51, 0.3);
    }
  }
}

.presentation__replay-button:hover,
.presentation__subtitles-button:hover {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    & path {
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  @media (min-width: @desktop-width) {
    & path {
      fill: rgba(255, 255, 255, 0.6);
    }
  }
}

.presentation__replay-button:active,
.presentation__replay-button:focus,
.presentation__subtitles-button:active,
.presentation__subtitles-button:focus {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    outline: none;

    & path {
      fill: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: @desktop-width) {
    outline: none;

    & path {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.presentation__block {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 235px;
  height: 3px;
  top: -37%;
  left: 22px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: 49%;
    width: 389px;
    left: 94px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media (min-width: @desktop-width) {
    top: 49%;
    width: 540px;
    left: 92px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.presentation__block::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  top: -4px;
  left: 36px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    left: 113px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -5px;
    left: 112px;
  }
}

.presentation__block::before {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    content: "";
    height: 45px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.6);
    top: -22px;
    left: -21px;
  }
}

.presentation__button-wrapper {
  position: absolute;
  top: 31%;
  right: 28px;
  display: flex;
  justify-content: space-between;
  width: 83px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    top: 38%;
    right: 46px;
  }

  @media (min-width: @desktop-width) {
    top: 37%;
    right: 49px;
  }
}

.presentation__subtitles-button {
  width: 30px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: transparent;

    & path {
      fill: #ffffff;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;

    & path {
      fill: #ffffff;
    }
  }
}

.presentation__fullscreen-button {
  width: 20px;
  height: 20px;
  border: none;

  & path {
    fill: #5c6870;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: transparent;

    & polygon {
      fill: #ffffff;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;

    & polygon {
      fill: #ffffff;
    }
  }
}

.presentation__fullscreen-button:hover {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    & polygon {
      fill: rgba(255, 255, 255, 0.6);
    }
  }

  @media (min-width: @desktop-width) {
    & polygon {
      fill: rgba(255, 255, 255, 0.6);
    }
  }
}

.presentation__fullscreen-button:hover {
  @media (max-width: @mobile-width-only) {
    & polygon {
      fill: #333333;
    }
  }
}

.presentation__fullscreen-button:active,
.presentation__fullscreen-button:focus {
  @media (max-width: @mobile-width-only) {
    outline: none;
    & polygon {
      fill: rgba(51, 51, 51, 0.3);
    }
  }
}

.presentation__fullscreen-button:active,
.presentation__fullscreen-button:focus{
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    outline: none;
    & polygon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: @desktop-width) {
    outline: none;
    & polygon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
