.reasons {
  color: #ffffff;
  max-width: 100%;
}

.reasons__first {
  background-color: #ffffff;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 330px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 330px;
  }
}

.reasons__first .reasons__description {
  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center -12%;
  }
}

.reasons__description {
  padding: 27px 14px 22px;
  background-color: #81b3d2;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 42px 14px 20px;
    line-height: 26px;
    box-sizing: border-box;
    min-height: 236px;
  }

  @media (min-width: @desktop-width) {
    padding: 45px 14px 20px;
    line-height: 26px;
  }
}

.reasons__title {
  margin: 22px 0 0;

  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    font-size: 21px;
    max-width: 151px;
    margin: -3px auto 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    max-width: 150px;
    margin: auto;
  }
}

.reasons__number,
.reasons__description-text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.reasons__description-text {
  margin-top: -5px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 200px;
    margin: auto;
    line-height: 21px;
    font-size: 13px;
  }

  @media (min-width: @desktop-width) {
    max-width: 280px;
    margin: auto;
  }
}

.reasons__photo {
  overflow: hidden;
  height: 263px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    height: 256px;
  }
}

.reasons__photo-img {
  min-height: 260px;
  min-width: 163%;
}

.reasons__list {
  margin: 35px 0 0 0;
  padding: 0 21px 12px 67px;
  color: #000000;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    margin: 38px -6px 0 -14px;
    padding: 19px 8px 31px 0;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;

    margin: 0 -3px 0 -14px;
    padding: 58px 8px 30px 0;
    display: flex;
    justify-content: space-around;
  }
}

.reasons__list-item {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 180px;
    max-height: 205px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    max-width: 252px;
    max-height: 205px;
    text-align: center;
  }
}

.reasons__list-item:nth-child(2) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    order: 1;
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    width: 192px;
  }
}

.reasons__list-item:nth-child(3) {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 156px;
  }

  @media (min-width: @desktop-width) {
    max-width: 233px;
  }
}

.list__title {
  position: relative;
  margin: 0 0 16px 3px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding-top: 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 33px 0 0;
  }
}

.list-item-house::before,
.list-item-souvenir::before,
.list-item-food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 37px;
  top: -9px;
  left: -51px;

  background-repeat: no-repeat;
  background-size: 39px 37px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 180px;
    height: 75px;
    background-size: 75px 75px;
    background-position: center;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
    height: 75px;
    background-size: 75px 75px;
    background-position: center;
    top: 2px;
    left: 1%;
  }
}

.list-item-house::before {
  background-image: url("../../img/icons/icon-house.svg");

  @media (min-width: @desktop-width) {
    top: 2px;
    left: 12%;
  }
}

.list-item-souvenir::before {
  background-image: url("../../img/icons/icon-gift.svg");

  @media (min-width: @desktop-width) {
    top: 2px;
    left: -4%;
  }
}

.list-item-food::before {
  background-image: url("../../img/icons/icon-burger.svg");
}

.list__description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 21px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 10px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 0 0 0;
  }
}

.reasons__second {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
  }
}

.reasons__second .reasons__photo {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.reasons__second .reasons__description {
  padding: 18px 14px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    order: 2;
    padding: 45px 15px 10px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    order: 2;
    padding: 54px 15px 10px;
  }
}

.reasons__second .reasons__description-text {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    max-width: 183px;
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    max-width: 214px;
    line-height: 23px;
  }
}

.reasons__lasts-wrapper {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 256px;
    background-color: #eeeeee;
    padding: 20px 6px 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 256px;
    background-color: #eeeeee;
    padding: 22px 0 22px;
  }
}

.reasons__lasts .reasons__description {
  background-color: #eeeeee;
  color: #000000;
  padding: 9px 30px;
  box-sizing: border-box;
}

.reasons__lasts .reasons__description-text {
  padding-bottom: 30px;
  margin-top: -7px;
  margin-bottom: -13px;
  border-bottom: 2px solid #d6d6d6;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    border: none;
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding-top: 10px;
    line-height: 23px;
  }
}

.reasons__lasts:last-child .reasons__description-text {
  border: none;
}

.reasons__lasts .reasons__title {
  margin-top: 13px;
}
