// Начните писать стили здесь
@import url("blocks/page-header.less");
@import url("blocks/page-main.less");
@import url("blocks/welcome.less");
@import url("blocks/reasons.less");
@import url("blocks/photo.less");
@import url("blocks/presentation.less");
@import url("blocks/hotel.less");
@import url("blocks/map.less");
@import url("blocks/form.less");
@import url("blocks/feedback.less");
@import url("blocks/page-footer.less");

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

body {
  margin: 0;
}

.page {
  max-width: 1200px;
  margin: auto;
  padding: 0;

  font-family: "PT Sans", "Aria", sans-serif;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  // временно
  background-color: #ffffff;
  box-shadow: 0 0 22px 0 rgba(50, 50, 50, 1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  width: 140px;
  padding: 10px;
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
